<a href="https://colab.research.google.com/github/avikgoyal/Assignments_Python/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

. L is a list defined as L= [11, 12, 13, 14].
(i) WAP to add 50 and 60 to L.

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print("final list =",L)
del L[0]
print(" after deletion, list =",L)
del L[1]
print("after deletion, list =",L)
L.sort()
print("ascending list =",L)
L.sort(reverse=True)
print(" descending list =",L)
print("list is",13 in L)
if (13 in L)==True:
  print("present")
else:
  print("not present")

print(" length is",len(L))
print("sum is ",sum(L))
def oddoreven(n):
 if(n%2==0):
  return 0
 else: 
  return 1
summ=0
for n in L:
  if (oddoreven(n)==0):
    
    summ=summ+n
print(summ)

def prime(x):

  for i in range(2,x//2+1):
    if x%i == 0:
      return 0
    else:
      return 1
summm=0
for x in L:
  if (prime(x)==0):
    
    summm=summm+n
print(summm)
L.clear()
del L

final list = [11, 12, 13, 14, 50, 60]
 after deletion, list = [12, 13, 14, 50, 60]
after deletion, list = [12, 14, 50, 60]
ascending list = [12, 14, 50, 60]
 descending list = [60, 50, 14, 12]
list is False
not present
 length is 4
sum is  136
136
48

D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8

(ii) WAP to remove key=2.

(iii) WAP to check weather 6 key is present in D.

(iv) WAP to count the number of elements present in D.

(v) WAP to add all the values present D.

(vi) WAP to update the value of 3 to 7.1.

(vii) WAP to clear the dictionary.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8] = 8.8
print(D)
del D[2]
print(D)
print(6 in D) 
print(len(D))
print(sum(D))
D[3]=7.1
print(D)
D.clear()

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
False
5
21
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].

 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1.

(ii) WAP to remove 10 and 30 from Set S1.

(iii) WAP to check whether 40 is present in S1.

(iv) WAP to find the union between S1 and S2.

(v) WAP to find the intersection between S1 and S2.

(vi) WAP to find the S1 - S2.

In [ ]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S1.add(55)
S1.add(30)
print(S1)
S1.remove(10)
S1.remove(40)
print(S1)
print(40 in S1)
print(S1.union(S2))
print(S1.intersection(S2))
print(S1-S2)

{40, 10, 50, 20, 55, 60, 30}
{50, 20, 55, 60, 30}
False
{70, 40, 80, 50, 20, 55, 90, 60, 30}
{50, 60}
{20, 30, 55}

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8.

(ii) WAP to print all prime numbers between 600 and 800.

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
import string as s
import random as r

def IsPrime(n):
  for d in range(2, n//2 + 1):
    if (n%d==0) :
      return(0)
  
  print(n)

def divisibleby(t):	
  if(t%7==0 and t%9==0):
    print(t)

	
for i in range(1,101):
  x=r.randint(6,8)
  print(x)
  y=r.sample(s.ascii_letters,x)
  string1="".join(y)
  print(string1)
 
for a in range(600,801):
  IsPrime(a)
print("doneeeeeeeeeee")
for w in range(100,1001):
  divisibleby(w)

7
soSNpTx
8
qsMcQhFv
8
ZMehRSod
6
Swbspi
8
BxjvWieV
8
TnIVlwSb
6
QyvTeD
8
zwtsIpOR
7
apwPbMm
7
nALVepD
8
ljpVNoqT
8
dHqlTOCD
8
aKfOqWHm
6
tCDKrv
8
gSWiPODY
6
IahBKD
6
kOPZQn
7
VFfsvQd
8
AQUBDzOx
6
QFNWYS
6
FLnOqy
6
WRPmZn
8
ekVqScmf
8
PkNgViaJ
6
PhETam
8
uFHmInUr
6
vyPGEZ
7
OAYPicq
7
UPmOoQG
6
DNVUEh
8
auUNAonv
7
rBeGtRM
7
ZAXGQKa
8
LhvEoxGq
6
xqKhIX
6
joyGYQ
6
zNDAbi
8
TScREyHO
7
IFJKMCA
7
eckqRPN
7
oYSzvRe
6
sfQeXd
7
kXthAwv
7
wEMyvOj
6
cmMsSD
6
JEiydY
7
PKhMund
8
ObYuQzTp
7
gatbcPM
6
grnctu
6
VUZkTg
6
kopVnL
7
JQmEhdB
6
UCkrgN
8
HELYQxnF
6
sIEGbB
7
tQoZrdp
8
oBWRnGVa
8
VtvhPTZX
7
hyduozm
7
MCbzfrF
6
RronDP
8
WPFIdqye
8
EPGNMRxC
6
skFHqO
7
TFhinxI
6
pUgHcs
6
QsKLGe
8
nfHjciDr
6
FYWZVd
7
BEtHMxz
7
uVkhlDM
6
ZRIuJP
8
PsprGTBX
8
QdARilsL
8
xXIVvAow
8
nJSdybvE
8
QEAPquyK
6
SNnXbP
8
MOVAdDxG
7
UkBfFKC
8
COxDjwaY
8
vDqRLpMQ
6
ludynt
7
XqmJTPG
8
JOvBaFGj
6
Wvqrjg
6
DcHwlJ
7
kwePlKO
8
UnxQBKot
8
gQMzAOjf
6
DeQmTM
8
AZSzmUQe
6
KDFtqp
6
oIyEgO
8
slfqbmiA
6
ABEJjL
6
HgJBPd
8
iAakTWld
8
HGfKdCBS
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
doneeeeeeeeeee
126
189
252
315
378
441
504
567
630
693
756
819
882
945

 WAP to create two lists of 10 random numbers between 10 and 30; Find 
(i) Common numbers in the two lists
(ii) Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the list

In [ ]:
import random as r
L1=[]
L2=[]
for i in range(1,11):
  x=r.randint(10,30)
  y=r.randint(10,30)
  L1.append(x)
  L2.append(y)
print(L1,L2)

for d in range(1,10):
  for f in range(1,10):
    if(L1[d]==L2[f]):
      print(L1[d])
print("doneeeeeeeeeeeeeeeee")
f=0
for g in range(1,10):
  for h in range(1,10):
    if(L1[g]!=L2[h]):
      continue
  print(L1[g])
print(min(min(L1),min(L2)))   
print(max(max(L1),max(L2)))  
print(sum(L1)+sum(L2))

[13, 25, 28, 15, 29, 19, 12, 30, 29, 22] [13, 29, 14, 24, 16, 27, 12, 24, 30, 17]
29
12
30
29
doneeeeeeeeeeeeeeeee
25
28
15
29
19
12
30
29
22
12
30
428

WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

In [14]:
import random as r

def IsPrime(n):
  for d in range(2, n//2 + 1):
    if (n%d==0) :
      return(0)
  print(n)

     

 
     
L=[]
for i in range(1,101):
  x=r.randint(100,900)
  print(x)
  L.append(x)
  
for a in range(1,100):
  if(L[a]%2==0):
    print("even", L[a])
for g in range(1,100):
  if(L[g]%2!=0):
    print("odd", L[g])
for h in range(100):
  IsPrime(L[h])

538
104
633
656
515
297
589
866
121
615
477
823
814
887
137
617
551
654
306
335
211
342
757
334
344
555
588
722
714
834
330
466
748
150
825
732
602
181
804
296
871
578
187
763
467
840
222
838
414
893
290
597
197
747
679
377
621
638
499
707
643
155
534
450
334
835
255
566
443
692
755
460
852
675
460
708
431
359
673
503
643
243
798
641
791
820
469
135
846
666
859
705
713
186
443
337
787
279
752
315
even 104
even 656
even 866
even 814
even 654
even 306
even 342
even 334
even 344
even 588
even 722
even 714
even 834
even 330
even 466
even 748
even 150
even 732
even 602
even 804
even 296
even 578
even 840
even 222
even 838
even 414
even 290
even 638
even 534
even 450
even 334
even 566
even 692
even 460
even 852
even 460
even 708
even 798
even 820
even 846
even 666
even 186
even 752
odd 633
odd 515
odd 297
odd 589
odd 121
odd 615
odd 477
odd 823
odd 887
odd 137
odd 617
odd 551
odd 335
odd 211
odd 757
odd 555
odd 825
odd 181
odd 871
odd 187
odd 763
odd 467
odd 893
odd 597
odd 197
odd 747
odd 679
odd 377
odd 621
odd 499
odd 707
odd 643
odd 155
odd 835
odd 255
odd 443
odd 755
odd 675
odd 431
odd 359
odd 673
odd 503
odd 643
odd 243
odd 641
odd 791
odd 469
odd 135
odd 859
odd 705
odd 713
odd 443
odd 337
odd 787
odd 279
odd 315
823
887
137
617
211
757
181
467
197
499
643
443
431
359
673
503
643
641
859
443
337
787

D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [5]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
f=open('file.txt','w')
for i in range(1,5):
  f.write(str(str(i)+" "+str(D[i])))
f.close()

 L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

In [8]:
ff=open('fil2.txt','w')
L={"One","Two","Three", "Four","Five"}
for i in L:
   ff.write(str(i)+" "+str(len(i)))
  
ff.close()

 Write to the file 100 random strings whose length between 10 and 15

In [12]:
import random as r
import string as s
f3=open('fi3.txt','w');

for i in range(100):
  l=r.randint(10,15)
  y=r.sample(s.ascii_letters,l)
  string1="".join(y)
  f3.write(string1)
f3.close()

Write to the file all prime numbers between 600 and 800.

In [13]:
def isprime(n):
  for i in range(2,n//2 +1):
    if(n%i==0):
      return 0
  return 1 


f4=open('prime.txt','w')

for i in range(600,800):
  if (isprime(i)==1):
    f4.write(str(i)+"\n")

WAP to calculate the time taken by a program

In [16]:
import random as r
import time as t
t1=t.time()
def IsPrime(n):
  for d in range(2, n//2 + 1):
    if (n%d==0) :
      return(0)
  print(n)

     

 
     
L=[]
for i in range(1,101):
  x=r.randint(100,900)
  print(x)
  L.append(x)
  
for a in range(1,100):
  if(L[a]%2==0):
    print("even", L[a])
for g in range(1,100):
  if(L[g]%2!=0):
    print("odd", L[g])
for h in range(100):
  IsPrime(L[h])
t2=t.time()
print("timee taken=",t2-t1)

273
601
243
734
759
662
349
353
207
658
564
161
223
313
217
229
833
891
785
610
553
562
652
794
820
414
411
604
610
792
278
808
748
873
293
737
547
673
247
452
465
525
103
223
464
786
814
226
107
411
463
453
245
635
791
521
766
300
438
572
148
392
180
777
646
477
410
877
809
514
654
684
119
699
373
790
704
771
390
287
703
743
846
550
394
238
590
194
539
888
415
111
734
464
567
540
572
758
591
185
even 734
even 662
even 658
even 564
even 610
even 562
even 652
even 794
even 820
even 414
even 604
even 610
even 792
even 278
even 808
even 748
even 452
even 464
even 786
even 814
even 226
even 766
even 300
even 438
even 572
even 148
even 392
even 180
even 646
even 410
even 514
even 654
even 684
even 790
even 704
even 390
even 846
even 550
even 394
even 238
even 590
even 194
even 888
even 734
even 464
even 540
even 572
even 758
odd 601
odd 243
odd 759
odd 349
odd 353
odd 207
odd 161
odd 223
odd 313
odd 217
odd 229
odd 833
odd 891
odd 785
odd 553
odd 411
odd 873
odd 293
odd 737
odd 547
odd 673
odd 247
odd 465
odd 525
odd 103
odd 223
odd 107
odd 411
odd 463
odd 453
odd 245
odd 635
odd 791
odd 521
odd 777
odd 477
odd 877
odd 809
odd 119
odd 699
odd 373
odd 771
odd 287
odd 703
odd 743
odd 539
odd 415
odd 111
odd 567
odd 591
odd 185
601
349
353
223
313
229
293
547
673
103
223
107
463
521
877
809
373
743
timee taken= 0.11431241035461426

WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.

In [ ]:
import random as r
std=dict()
n=int(input("Enter  number of students: "))
avg=[]
for i in range(n):
  name=str(input("Enter student name"))
  for j in range(5):
    marks=r.sample(range(0,100),5)
    std[name]=marks
  avg.append(sum(marks)/5)

print(std)

print(avg)





print("Max avg is ",max(avg))

print("Max avg is ",min(avg))